Emacs*toolBar: 0
Emacs*scrollBar: 0
Emacs*menuBar: 0

URxvt*transparent: false

URxvt*shading: 10

URxvt*saveLines: 12000

URxvt*font: xft:Hack:pixelsize=16
URxvt*boldFont: xft:Hack:bold:pixelsize=16

URxvt*scrollBar: false

URxvt*scrollBar_right: false

URxvt*scrollstyle: rxvt
URxvt*iso14755: False
URxvt.perl-ext-common: selection-to-clipboard

//#include "uc-manager/base16-xresources/xresources/base16-solarized-dark-256.Xresources"
#include "uc-manager/nord/nord-xresources/src/nord"

